/* -----------------------------
    
        Default Values

Font Oswald, sand serif

Colors:
    1. Midnight Blue: #2c3e50;
    2. Alizarin:      #e74c3c;

--------------------------------/;

/*------------------------------
        Basoc Setup
--------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #ffff;
}

/*------------------------------
            Header
--------------------------------*/

body{
    background-color: #2c3e50;   
}

header h1 {
    text-align: center;
    color: #2c3e50;
    padding: 20px 0;
}

header h1 span{
    color: #e74c3c;
}

/*Nav menu*/
.nav-menu {
    text-align: center;
    text-transform: uppercase;
    padding: 0 0;
    background-color: #fafafa;
}

.nav-menu a {
    color: #2c3e50;
    font-family: 'Oswald', sans-serif;
}

.nav-menu a:hover {
    color: #e74c3c;
}

.nav-menu li {
    padding: 20px;
}

/*------------------------------
            About Text
--------------------------------*/

.about-text {
    padding: 0 50px;
}

.about-text h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 30px;
    color: #e74c3c;
    margin: 30px 0;
}

.about-text p {
    font-family: 'Oswald';
    font-weight: 400;
    color: #2c3e50;
    margin-bottom: 10px;
}

.about-text a:hover {
    color: red;
    font-weight: 700;
}

/*------------------------------
            Show Food
--------------------------------*/

.show-food {
    margin-top: 80px;
    /*display: block;
    content: " ";
    padding-left: 50;
    padding-right: 50;*/
}

.show-food {
    padding-left: 50px;
    padding-right: 50px; 
}

.food {
    padding: 0 50;
    background-color: #2c3e50;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    color: #ffff;
}

.food:nth-child(2) {
    background-color: #e74c3c;
}

.food:nth-child(3) {
    background-color: yellow;
}

.food .food-text {
    padding-right: 20px;
    padding-left: 20px;
}





































